@{
	ViewData["Title"] = "Home Page";
}

<button type="button" class="btn btn-close-white m-2"><a asp-controller="home" asp-action="tommyhilfiger"><img src="~/LH-Logo.png"/></a></button>
<div class="col-2"></div>
<button type="button" class="btn btn-close-white m-2 "><a asp-controller="home" asp-action="tommyhilfiger"><img src="~/logo.jpg" style="width:180px;"/></a></button>

