@model IEnumerable<Catagory>
@{
    ViewData["Title"] = "Index";
}

<div class="col-12 row mt-5">
    <div class="col-7">
        <h1>Index Category</h1>
    </div>
    <div class="col-5">
        <button class="btn btn-primary" style="border-radius: 15px" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <a asp-controller="Catagory" asp-action="Create" style="text-decoration: none; color: #ffffff " >+ Create New Category</a>
        </button>
    </div>
</div>


<table class="table table-bordered table-striped ">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td class="col-7">
                    @obj.Name
                </td>
                <td class="col-5">
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>